greenlet==3.5.3
loguru==0.7.2
numpy==1.26.4
pandas==2.2.3
py4j==0.10.9.7
pyarrow==15.0.2
pyspark==3.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.2
six==1.17.0
SQLAlchemy==2.0.31
typing_extensions==4.16.0
tzdata==2026.3
